@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: local('Playball'), local('Playball-Regular'), url('fonts/playball.woff2') format('woff2'), url('fonts/playball.woff') format('woff');
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/amiri-regular.eot?') format('eot'), url('fonts/amiri-regular.woff') format('woff'), url('fonts/amiri-regular.ttf') format('truetype');
}

.rtl blockquote {
    border-left: 0;
    border-right: .25rem solid #e5e5e5;
	padding-left: 1.25rem;
	padding-right: 5rem;
}

.sidebar-nav {
    margin-bottom: 0;
}

nav a img {
    margin: 0;
}

.sidebar-sticky {
    width: 100%;
    left: 0;
    bottom: 0;
}

.container {
}

.profilePic {
    width: 192px;
    height: 192px;
    -webkit-border-radius: 96px;
    -moz-border-radius: 96px;
    border-radius: 96px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.sidebar-about h1.blogTitle {
    font-family: 'Playball', cursive;
    font-size: 64px;
}

.frontPageIcons {
    margin: 0 10px 0 0;
    display: inline;
}

small {
    font-size: 11px;
}

::selection {
    background: #FFEB00;
    color: black;
}

::-moz-selection {
    background: #FFEB00;
    color: black;
}


.side-nav-icon {
    display: inline;
}

.sidebar-nav ul {
    list-style: none;
    margin-left: -40px;
}

    .sidebar-nav ul li ul {
        margin-left: -30px;
    }

.toggle-box {
    display: none;
}

    .toggle-box + label {
        cursor: pointer;
        display: block;
    }

        .toggle-box + label + div {
            display: none;
            margin-bottom: 10px;
        }

    .toggle-box:checked + label + div {
        display: block;
    }

    .toggle-box + label:before {
        display: block;
        float: left;
        text-align: center;
    }

/* entire container, keeps perspective */
.flip-container {
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
    /*  UPDATED! flip the pane when hovered */
    .flip-container:hover .back {
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    .flip-container:hover .front {
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 192px;
    height: 192px;
}

/* flip speed goes here */
.flipper {
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
    z-index: 2;
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/* back, initially hidden pane */
.back {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
    position: relative;
}

.vertical .back {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.vertical.flip-container:hover .front {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.post-date {
    font-size: smaller;
    display: block;
    direction: ltr;
}

.excerpt {
    margin-bottom: 6em;
}

    .excerpt .post-date {
        margin-bottom: 0;
    }

.imageOnRight {
    float: right;
    margin: 20px;
    margin-right: 0;
}

.imageInCenter {
    margin: 20px auto 20px auto;
}

.rtl {
    font-family: AmiriWeb;
    text-align: right;
    line-height: 1.7;
    direction: rtl;
}

    .rtl .imageOnRight {
        float: left;
        margin: 20px;
        margin-left: 0;
    }

    .rtl hr {
        position: relative;
        margin: 1.5rem 0;
        border: 0;
        border-top: 1px solid #2E7A67;
        border-bottom: 1px solid #2E7A67;
    }

