/* Bookshelf */
.bookshelfHeader {
    clear: both;
}

.moreBookshelf {
    float: right;
}

.gr_grid_container {
    /* customize grid container div here. e.g.: width: 500px; */
    clear: both;
}

.gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    margin: 10px;
    overflow: hidden;
}

    .gr_grid_book_container img {
        border-radius: 0;
    }

.currentlyReadingShelf .gr_grid_container {
    -moz-perspective: 100px;
    -ms-perspective: 100px;
    -webkit-perspective: 100px;
    perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .currentlyReadingShelf .gr_grid_container .gr_grid_book_container {
        position: relative;
        -moz-perspective: 100px;
        -ms-perspective: 100px;
        -webkit-perspective: 100px;
        perspective: 100px;
        -moz-transform: rotateY(-3deg);
        -webkit-transform: perspective(100) rotateY(-3deg);
        -ms-transform: rotateY(-3deg);
        -o-transform: rotateY(-3deg);
        transform: rotateY(-3deg);
        outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
        box-shadow: none;
        margin: 0;
    }

        .currentlyReadingShelf .gr_grid_container .gr_grid_book_container a img {
            position: relative;
            max-width: 100%;
        }

        .currentlyReadingShelf .gr_grid_container .gr_grid_book_container:before,
        .currentlyReadingShelf .gr_grid_container .gr_grid_book_container:after {
            position: absolute;
            top: 2%;
            height: 96%;
            content: ' ';
            z-index: -1;
        }

        .currentlyReadingShelf .gr_grid_container .gr_grid_book_container:before {
            width: 100%;
            left: 7.5%;
            background-color: #5a2d18;
            box-shadow: 5px 5px 20px #333;
        }

        .currentlyReadingShelf .gr_grid_container .gr_grid_book_container:after {
            width: 5%;
            left: 100%;
            background-color: #EFEFEF;
            box-shadow: inset 0 0 5px #aaa;
            -moz-transform: rotateY(20deg);
            -webkit-transform: perspective(100) rotateY(20deg);
            -ms-transform: rotateY(20deg);
            -o-transform: rotateY(20deg);
            transform: rotateY(20deg);
        }
