.socialSharingSection {
	border-top: 1px solid rgb(238, 238, 238);
	padding-bottom: 15px;
	padding-top: 15px;
}
.socialSharingSection a {
	margin: 5px;
	text-decoration:none;
}

.socialSharingSection .fa-twitter {
	color: rgb(50, 204, 254);
}

.socialSharingSection .fa-facebook-square {
	color:#3C599F;
}

.socialSharingSection .fa-google-plus {
	color:#CF3D2E;
}

.socialSharingSection .fa-linkedin {
	color:#0085AE;
}

.socialSharingSection .fa-tumblr {
	color:#314E6C;
}

.socialSharingSection .fa-reddit-alien {
	color:#FFF;
}
