.writingsTitle {
    font-family: AmiriWeb;
    font-size: 3.5rem;
    text-align: center;
    color: #333;
}

.writingsSubtitle {
    text-align: center;
}

.theme-writings strong {
    color: rgb(46, 122, 103); 
}
 
.theme-writings .page-title,
.theme-writings .post-title,
.theme-writings .post-title a {
    color: rgb(46, 122, 103);
}

.theme-writings .sidebar {
    background-color: rgb(46, 122, 103);
}

.theme-writings .content a,
.theme-writings .related-posts li a:hover {
    color: rgb(46, 122, 103);
}

    .theme-writings .content a:hover {
        color: rgb(46, 122, 103);
    }
    
.theme-writings .content a.button-external:hover {
    background-color: rgb(46, 122, 103);
}

.theme-writings .content a.pagination-item:hover {
    background-color: rgb(46, 122, 103);
}
