---
layout: default
title: Home
category: reviews
---

<h1>Reviews</h1>
<p>{{ site.rss_description_reviews }}</p>

<div class="posts">
    {% for post in site.posts %}
        {% if post.category == 'reviews' %}
            {% if post.frontpage == 'true' %}
            <div class="post{% if post.lang == 'ar' %} rtl{% endif %}">
                <h1 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>
                <span class="post-date">{{ post.date | date_to_string }}</span>
                {{ post.content }}
            </div>
            {% else %}
            <div class="excerpt{% if post.lang == 'ar' %} rtl{% endif %}">
                <h1 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>
                <span class="post-date">{{ post.date | date_to_string }}</span>
                <div class="stars" title="{{ post.rating }} Stars" data-percent="{{ post.rating }}"></div><br />
                {{ post.excerpt }}
                <a href="{{ post.url }}">
                    {% if post.lang == 'ar' %}
                        ... إقرأ المزيد
                    {% else %}
                        ... read more
                    {% endif %}
                </a>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>