---
layout: defaultWritings
title: أرشيف
category: writings
---

<h4><a href="../" title="{{ site.rss_description_writings }}">أحلام متواضعة</a></h4>

<h1>أرشيف</h1>

<div class="posts">
    {% for post in site.posts %}
        {% if post.category == 'writings' %}
            <div class="post{% if post.lang == 'ar' %} rtl{% endif %}">
                <h3 class="post-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h3>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
