<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="{{ site.author.name }}" />
    <meta name="keywords" content="Amr, Eldib, .NET, C#, GIS, Weblog, Blog, Egypt, Canada" />
    <meta name="description" content="{{ site.author.name }} {{ site.description }}" />

    <!-- Twitter Cards -->
	{% if page.twitter_image %}
	<meta name="twitter:card" content="summary_large_image" />
	{% else %}
	<meta name="twitter:card" content="summary" />
	{% endif %}
    <meta name="twitter:site" content="@AmrEldib" />
	<meta name="twitter:creator" content="@AmrEldib">
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
	{% if page.twitter_image %}
	<meta name="twitter:image" content="{{ page.twitter_image }}" />
	{% else %}
    <meta name="twitter:image" content="https://amreldib.com/public/images/AmrAvatar.png" />
	{% endif %}
    <!-- proof it's me -->
    <link rel="me" type="text/html" href="https://plus.google.com/+{{ site.author.username.googleplus }}" />
    <link rel="me" type="text/html" href="{{ site.rss_page }}" />
    <link rel="me" type="text/html" href="http://twitter.com/{{ site.author.username.twitter }}" />
    <link rel="me" type="text/html" href="http://www.github.com/{{ site.author.username.github }}" />

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.imgFolder_root }}favicon.ico">
    <!-- For Chrome for Android: -->
    <link rel="icon" sizes="192x192" href="{{ site.imgFolder_root }}AmrAvatar.png">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.imgFolder_root }}AmrAvatar180.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.imgFolder_root }}AmrAvatar152.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.imgFolder_root }}AmrAvatar144.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.imgFolder_root }}AmrAvatar120.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.imgFolder_root }}AmrAvatar114.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.imgFolder_root }}AmrAvatar76.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.imgFolder_root }}AmrAvatar72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 57×57px -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.imgFolder_root }}AmrAvatar57.png">
    <!-- RSS -->
    <!-- Blog -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Blog" href="/blog/rss.xml">
    <!-- Writings -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Writings" href="/writings/rss.xml">
    <!-- Linkblog -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Linkblog" href="/linkblog/rss.xml">
    <!-- Reviews -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Reviews" href="/reviews/rss.xml">
    <!-- Projects -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Projects" href="/projects/rss.xml">
    <!-- Talks -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Talks" href="/talks/rss.xml">
    <!-- Favs
    <link rel="alternate" type="application/rss+xml" title="Amr's Favorite Items" href="/favs/rss.xml">
        -->
    <!-- Bookmarks
    <link rel="alternate" type="application/rss+xml" title="Amr's Bookmarks" href="/bookmarks/rss.xml">
        -->
    <!-- Tools
    <link rel="alternate" type="application/rss+xml" title="Amr's Tools" href="/tools/rss.xml">
        -->
    <!-- AV -->
    <link rel="alternate" type="application/rss+xml" title="Amr's Audio & Video" href="/av/rss.xml">
    <!-- All items -->
    <link rel="alternate" type="application/rss+xml" title="All Items" href="/rss.xml">

	<!-- Style -->
	{% include aboveFoldAssets.html %}
</head>
