<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/amrbundle.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/amr.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.baseurl }}public/images/favicon.ico">
    <!-- For Chrome for Android: -->
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}public/images/AmrAvatar192.png">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.baseurl }}public/images/AmrAvatar180.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}public/images/AmrAvatar152.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/images/AmrAvatar144.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}public/images/AmrAvatar120.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}public/images/AmrAvatar114.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}public/images/AmrAvatar76.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}public/images/AmrAvatar72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 57×57px -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}public/images/AmrAvatar57.png">
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
