<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div><img class="profilePic" src="{{ site.imgFolder_root }}AmrAvatar.png" /></div>
                    </div>
                    <div class="back">
                        <div><img class="profilePic" src="{{ site.imgFolder_root }}Amr.png" /></div>
                    </div>
                </div>
            </div>
            <br />
            <small><i>Hi, my name is</i></small>
            <h1 class="blogTitle">
                {{ site.author.nickname }}
            </h1>
        </div>

        {% include sidebarNav.html %}
        
    </div>
</div>
