<nav class="sidebar-nav">
    <ul>
        <li>
            <a class="sidebar-nav-item{% if page.url == '/index.html' %} active{% endif %}"
                href="{{ site.baseurl }}">Home</a>
        </li>
        <li>
            <a class="sidebar-nav-item{% if page.url == '/blog/index.html' %} active{% endif %}"
                href="{{ site.baseurl }}blog/"
                title="{{ site.rss_description_blog }}">Blog</a>
        </li>
        <li>
            <a class="sidebar-nav-item{% if page.url == '/projects/index.html' %} active{% endif %}"
                href="{{ site.baseurl }}projects/"
                title="{{ site.rss_description_projects }}">Projects</a>
        </li>
        <li>
            <input class="toggle-box" id="moreHeader" type="checkbox">
            <label for="moreHeader">More</label>
            <div>
                <ul>
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/av/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}av/"
                            title="{{ site.rss_description_av }}">Audio and Video</a>
                    </li>
                    <!--
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/bookmarks/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}bookmarks/"
                            title="{{ site.rss_description_bookmarks }}">Bookmarks</a>
                    </li>
                    -->
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/bookshelf/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}bookshelf/"
                            title="{{ site.rss_description_bookshelf }}">Bookshelf</a>
                    </li>
                    <!--
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/favs/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}favs/"
                            title="{{ site.rss_description_favs }}">Favorites</a>
                    </li>
                        -->
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/linkblog/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}linkblog/"
                            title="{{ site.rss_description_linkblog }}">Linkblog</a>
                    </li>
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/reviews/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}reviews/"
                            title="{{ site.rss_description_reviews }}">Reviews</a>
                    </li>
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/talks/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}talks/"
                            title="{{ site.rss_description_talks }}">Talks</a>
                    </li>
                    <!--
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/tools/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}tools/"
                            title="{{ site.rss_description_tools }}">Tools</a>
                    </li>
                        -->
                    <li>
                        <a class="sidebar-nav-item{% if page.url == '/writings/index.html' %} active{% endif %}"
                            href="{{ site.baseurl }}writings/"
                            title="{{ site.rss_description_writings }}">Writings</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
        {% if node.title != null %}
            {% if node.layout == "page" %}
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item side-nav-icon"
        href="https://github.com/{{ site.author.username.github }}" rel="me">
        <img class="side-nav-icon"
                src="{{ site.imgFolder_root }}github-24.png"
                alt="GitHub Page" />
    </a>
    <a class="sidebar-nav-item side-nav-icon"
        href="https://twitter.com/{{ site.author.username.twitter }}" rel="me">
        <img class="side-nav-icon"
                src="{{ site.imgFolder_root }}twitlogo-24.png"
                alt="@{{ site.author.username.twitter }}" />
    </a>
    <a class="sidebar-nav-item side-nav-icon"
        href="http://www.goodreads.com/{{ site.author.username.goodreads }}" rel="me">
        <img class="side-nav-icon"
                src="{{ site.imgFolder_root }}goodreads-24.png"
                alt="Goodreads Shelf" />
    </a>
    <a class="sidebar-nav-item side-nav-icon"
        href="https://www.linkedin.com/in/{{ site.author.username.linkedin }}" rel="me">
        <img class="side-nav-icon"
                src="{{ site.imgFolder_root }}linked-24.png"
                alt="LinkedIn Resume" />
    </a>
    <a class="sidebar-nav-item side-nav-icon"
        href="/rss">
        <img class="side-nav-icon"
                src="{{ site.imgFolder_root }}rss-24.png"
                alt="Subscribe via RSS" />
    </a>
    <a class="sidebar-nav-item side-nav-icon"
       href="/search">
        <img class="side-nav-icon"
             src="{{ site.imgFolder_root }}search-24.png"
             alt="Search" />
    </a>
</nav>
<p>
    <small>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</small>
</p>