---
layout: default
title: Home
category: blog
---

<h1>Blog</h1>
<p>{{ site.rss_description_blog }}</p>

<div class="posts">
    {% assign counter=0 %}
    {% for post in site.posts %}
        {% if post.category == 'blog' and counter < 10 %}
            {% assign counter=counter | plus:1 %}
            {% if post.frontpage == 'true' %}
            <div class="post">
                <h1 class="post-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h1>
            <span class="post-date">{{ post.date | date_to_string }}</span>
                    {{ post.content }}
            </div>
            {% else %}
            <div class="post">
                <h2 class="post-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h2>
                <span class="post-date">{{ post.date | date_to_string }}</span>
                {{ post.excerpt }}
                <a href="{{ post.url }}">
                    {% if post.lang == 'ar' %}
                    ... إقرأ المزيد
                    {% else %}
                    ... read more
                    {% endif %}
                </a>
            </div>
            {% endif %} 
        {% endif %}
    {% endfor %}
</div>

<div>
    <h1>Archive</h1>
    <strong><a href="all/">All</a></strong> - 
    <strong><a href="2015/">2015</a></strong> - 
    <strong><a href="2014/">2014</a></strong> - 
    <strong><a href="2013/">2013</a></strong> - 
    <strong><a href="2012/">2012</a></strong> - 
    <strong><a href="2011/">2011</a></strong> - 
    <strong><a href="2010/">2010</a></strong> - 
    <strong><a href="2009/">2009</a></strong> - 
    <strong><a href="2008/">2008</a></strong> - 
    <strong><a href="2007/">2007</a></strong>
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->