---
layout: default
title: Home
category: av
---

<h1>Audio & Video</h1>
<p>{{ site.rss_description_av }}</p>

<div class="posts">
    {% for post in site.posts %}
        {% if post.category == 'av' %}
            {% if post.frontpage == 'true' %}
            <div class="post{% if post.lang == 'ar' %} rtl{% endif %}">
                <h1 class="post-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h1>
            <span class="post-date">{{ post.date | date_to_string }}</span>
                    {{ post.content }}
            </div>
            {% else %}
            <div class="excerpt{% if post.lang == 'ar' %} rtl{% endif %}">
                <h3 class="post-title">
                  <a href="{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h3>
				<span class="post-date">{{ post.date | date_to_string }}</span>
				{{ post.excerpt }}
				<a href="{{ post.url }}">
					{% if post.lang == 'ar' %}
					... إقرأ المزيد
					{% else %}
					... read more
					{% endif %}
				</a>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
