---
layout: default
---

<h4><a href="../" title="{{ site.rss_description_linkblog }}">Linkblog</a></h4>

<div class="post{% if page.lang == 'ar' %} rtl{% endif %}">
    <h1 class="post-title">
        {{ page.title }}
    </h1>
            
    <div class="post-date">
        <span>{{ page.date | date_to_string }}</span>

        {% for tag in page.tags %}
            <span class="linktag">{{tag}}</span>
        {% endfor %}

        <a href="{{ page.linkurl }}" target="_blank">
            {% if post.lang == 'ar' %}
            إقرأ المقال
            {% else %}
            Read article
            {% endif %}
        </a>
    </div>
    <br />
    {{ content }}
    <br />
</div>

{% if page.commentsSection == 'true' %}
    {% include commentsSection.html %}
{% endif %}