---
layout: default
---

<h4><a href="../" title="{{ site.rss_description_linkblog }}">Linkblog</a></h4>

<div class="post{% if page.lang == 'ar' %} rtl{% endif %}">
    <h1 class="post-title">
        <a href="{{ page.linkurl }}" target="_blank" title="Read article">
            {{ page.title }}
        </a>
    </h1>

    <p>
        <span class="post-date">{{ page.date | date_to_string }}</span>

        {% for tag in page.tags %}
            <span class="linktag">{{tag}}</span>
        {% endfor %}
    </p>
    <br />
    {{ content }}
    <br />
</div>
