---
layout: defaultWritingsWithImageGallery
---

<h4 class="rtl"><a href="../" title="{{ site.rss_description_writings }}">أحلام متواضعة</a></h4>

{% include defaultPost.html %}

{% include relatedPosts.html %}

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox-button").fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            closeBtn: false,
            helpers: {
                title: { type: 'inside' },
                buttons: {}
            }
        });
    });
</script>